body {
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
    color: rgb(239, 238, 238);
    background-color: rgb(9, 14, 19);
    
}
 td {
    min-width: 40px;
    min-height: 40px;
    text-align: center;
}